<table class="w-100">
  <thead>
    <tr>
      <th>Key(s)</th>
      <th>Effect</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Pages }}
      <tr>
        <td>
          {{ $keyCombinations := .Params.keys }}
          {{ $numKeyCombinations := len $keyCombinations}}
          {{ range $keyCombinationIndex, $keyCombination := $keyCombinations }}
            {{ $numSingleKeys := len $keyCombination}}
            {{ range $keyIndex, $key := $keyCombination }}
              <kbd>{{ $key }}</kbd>{{ if not (eq (add $keyIndex 1) $numSingleKeys)}}+{{end}}
            {{ end }}
            {{ if not (eq (add $keyCombinationIndex 1) $numKeyCombinations)}} → {{end}}
          {{ end }}
          {{ if .Params.isCustom }}🦄{{ end }} 
          {{ if .Params.noDefault }}🔧{{ end }}
        </td>
        <td>{{ .Title }}</td>
        <td>{{ .Params.note | markdownify }}</td>
      </tr>
    {{ end }}
  </tbody>
</table>
